/* Import Montserrat font from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800');



#destaque {
  padding-bottom: 50px;
  padding-top: 50px;
}


.titulo-destaque {
  margin-bottom: 25px;
  font-family: inherit;
  color: #17757c;
}

#destaque p {
  margin-top: 15px;
  text-align: justify;
}

.btn-primary {
  background-color: #ff9102 !important;
  border: none !important;  
}



/* Formatação para body
body{
  margin: 0px;
  background-color: rgba(0,0,0,1)
}
/* Formatação para a primeira seção onde aparece o carro e o logo da Citroën
.first{
  width: 100%;
  height: 800px;
  position: relative;
}
#logo{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
}
#carro{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0px auto;
}
#cactus{
  color: white;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 60px;
  margin: 10px 0px;
}
#sub{
  color: white;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 25px;
  margin: 0px;
}
.gradient{
  height: 50px;
  margin-top: 95px;
  background-image: linear-gradient(rgba(0, 0, 0, 1),rgba(255, 0, 0, 0.5));
}

/* Segunda seção onde fica o slide show e o formulário
.subscribe{
  background-color: rgba(255, 0, 0, 0.5);
  display: block;
  position: relative;
  width: 100%;
  height: 800px;
}
.left{
  display: inline-block;
  width: 700px;
  height: 600px;
  margin-left: 100px;
  margin-top: 125px;
}
#exclusive, #inscreva{
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

/* Parte do Slideshow
#gallery{
  width: 600px;
  height: 400px;
  margin: auto;
}
.imgs{
  display: none;
}
/* Animação do slide
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* Botão da Google
.g-signin2{
  height: 50px;
  width: 200px;
  background-color: white;
  margin-bottom: 20px;
}
.form{
  background-color: rgb(226, 59, 59);
  display: inline-block;
  position: relative;
  float: right;
  margin: 250px 150px 0px 0px;
  padding: 50px;
  font-family: Montserrat, sans-serif;
  width: 200px;
  height: 275px;
}
.input{
  margin: 10px auto;
} */